.*
_*

!.gitignore
!.github

# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

*.iml

# Flutter-related
**/Flutter/ephemeral/
**/Pods/
generated_plugin_registrant.dart

# don't check in golden failure output
**/failures/*.png

